.idea/*
/.bundle/
/.yardoc
/_yardoc/
/doc/
/pkg/
/spec/reports/
# rspec failure tracking
.rspec_status
/config/keyfile.json
.env
.irb_history
/app/
/vendor/rbs/gem_rbs_collection/
/.idea/
tmp/*
/coverage/