.idea/*
/.bundle/
/.yardoc
/_yardoc/
/doc/
/pkg/
/spec/reports/
# rspec failure tracking
.rspec_status
/config/keyfile.json
.env
.irb_history
/app/
vendor/
/.idea/
tmp/*
/coverage/
CHANGELOG.md
souls-*.gem
.gitmodules
dump.rdb